%section.parallax-container
  .parallax
    = image_tag "maps.jpg"

%section.section.grey.lighten-4
  .container
    .row
      .center
        %i.large.mdi-maps-directions
        %h3 対応エリア
      %article.col.s12.m4
        %h5= link_to '大阪府下','osaka/index.html'
        %ul
          %li= link_to '堺市','sakai/index.html'
          %li= link_to '河内長野市','kawachinagano/index.html'
          %li= link_to '富田林市','tondabayashi/index.html'
          %li= link_to '大阪狭山市','osakasayama/index.html'
          %li= link_to '河南町','kanan/index.html'
          %li= link_to '太子町','taishi/index.html'
          %li= link_to '羽曳野市','habikino/index.html'
          %li= link_to '松原市','matsubara/index.html'
          %li= link_to '和泉市','izumi/index.html'
      %article.col.s12.m4
        %h4 
        %ul
          %li= link_to '高石市','takaishi/index.html'
          %li= link_to '泉大津市','izumiotsu/index.html'
          %li= link_to '岸和田市','kishiwada/index.html'
          %li= link_to '貝塚市','kaizuka/index.html'
          %li= link_to '泉佐野市','izumisano/index.html'
          %li= link_to '泉南市','sennan/index.html'
          %li= link_to '阪南市','hannan/index.html'
          %li= link_to '熊取町','kumatori/index.html'
          %li= link_to '田尻町','tajiri/index.html'
          %li= link_to '岬町','misaki/index.html'
          %li= link_to '泉北郡忠岡町','tadaoka/index.html'
      .col.s12.m4
        %h5 和歌山県
        %ul
          %li= link_to '和歌山市','wakayama/index.html'
          %li= link_to '紀の川市','kinokawa/index.html'
          %li= link_to '岩出市','iwade/index.html'

