= render "parts/header"

%section.parallax-container
  .parallax
    = image_tag "top_img.png"
        
%section.section
  .container
    .row
      %article.col.s12.m8
        %h4.red-text このような時に役に立ちます
        %ul
          %li
            %i.green-text.mdi-av-play-arrow
            引越し前後の片付け
          %li
            %i.green-text.mdi-av-play-arrow
            ごみ屋敷の片付け
          %li
            %i.green-text.mdi-av-play-arrow
            大掃除による不要品片付け
          %li
            %i.green-text.mdi-av-play-arrow
            お家・蔵・納屋・倉庫（ガレージ）等の片付け
          %li
            %i.green-text.mdi-av-play-arrow
            事務所・作業場・工場などの移転による不要品の片付け
          %li
            %i.green-text.mdi-av-play-arrow
            会社の合併・縮小・閉鎖・倒産・整理などによる不要品片付け
          %li
            %i.green-text.mdi-av-play-arrow
            ごみ屋敷の片付け
          %li
            %i.green-text.mdi-av-play-arrow
            遺品整理
          %li
            %i.green-text.mdi-av-play-arrow
            家具の移動・部屋の模様替え
          %li
            %i.green-text.mdi-av-play-arrow
            塗装工事全般
          %li
            %i.green-text.mdi-av-play-arrow
            室内装飾工事全般
          %li
            %i.green-text.mdi-av-play-arrow
            ハウスクリーニング全般
      %article.col.s12.m4
        = image_tag "p_before-after.jpg",class: "responsive-img"
    .row
      %p.red-text ※家庭の粗大ゴミ・企業の事業ゴミ・不要品でお困りの時はエースジャパンまでお電話ください。
      %h5 スクーター・バイク高価買取中！！
      %p ※詳細は、エースジャパンまでお電話にてお問い合わせください

%section.parallax-container
  .parallax
    = image_tag "basiccalc.jpg"

%section.section
  .container
    .row
      .col.s12.m8
        %h4.green-text 実例からの型付け料金の目安
        %table.bordered
          %tr
            %td １Ｒ単身
            %td 40,000円（税抜）~
          %tr
            %td １ＤＫ
            %td 60,000円（税抜）~
          %tr
            %td １ＬＤＫ
            %td 90,000円（税抜）~
          %tr
            %td ２ＤＫ
            %td 120,000円（税抜）~
          %tr
            %td ２ＬＤＫ
            %td 150,000円（税抜）~
          %tr
            %td ３ＤＫ
            %td 180,000円（税抜）~
          %tr
            %td ３ＬＤＫ
            %td 210,000円（税抜）~
        
        %p.right.red-text ※以降１部屋追加ごとに+30,000円(税抜)〜
        - 2.times do 
          %br/ 
        %ul
          %li ※当店の表示は税抜き価格となっております。別途消費税がかかります。
          %li ※お電話でのご依頼時に他社価格をお伝えください。
          %li ※確認のため、少々お時間を頂く場合がございます。
          %li ※すでにお見積り書、お見積り済の場合は３日間以内の場合のみ適応させて頂きます。
          %li ※その他、諸事情で対応出来ない場合もございますので、ご了承ください。

      .col.s12.m4
        %a(href="tel:0724255559")
          お電話でのお問い合わせ
          %i.mdi-communication-call
        %br/
        %a(href="mailto:")
          お問い合わせフォーム
          %i.mdi-content-send
        = image_tag "try.gif",class: "responsive-img"
      
    .row
      .col.s12
        %ul.collection
          %li.collection-item ※片付けの現場は一つとして同じものはございません。お客様のお部屋の状況に応じた最適なご提案を致します。
          %li.collection-item ※上記価格は、テレビ・エアコン・冷蔵庫（冷凍庫）・洗濯機・衣類乾燥機・産業廃棄物等の料金は含まれていません。
          %li.collection-item ※業務用90Lごみ袋・簡易清掃込みの料金です。
          %li.collection-item ※上記は参考料金です。回収場所等、諸条件により料金が変わる場合がございます。
          %li.collection-item 
            ■粗大ごみで回収して貰えない一例:
            %br/
            　スクーター・バイク・アルミホイール（タイヤ付）・業務用コピー機・農機具・トラクター　他
%section.parallax-container
  .parallax
    = image_tag "home.png"
%section.section.grey.lighten-5
  .container
    .row
      %article.col.s12
        %h4.green-text 高齢者様の為の片付けは社会貢献とも考え、
        %h5.green-text ぎりぎりの低価格でお手伝いさせて頂きます。
        
        %p
          ※低価格だからと言って、中途半端な仕事は致しません。
          %br/
          　ゴミや不用品の処分だけでなく、簡単な清掃も行い、快適に暮らして頂ける環境を整えさせて頂きます。
      
      .pack
        %h4.red-text 高齢者向けお掃除パック
        .row.col.s12
        
        .row.col.s12
          %table.bordered
            %tr
              %td 条件
              %td １回あたり、（お１人暮らし1ルーム）６５歳以上の高齢者様が対象となります。
            %tr
              %td 金額
              %td
                %h5
                  ホームページ特別価格
                  %span.red-text ８,０００円(税抜き)〜
                %p ※お部屋が広い場合はその都度お見積り致します。
            %tr
              %td 地域
              %td
                %ul.collection.with-header
                  %li.collection-header
                    %h5 対応地域
                  %li.collection-item 泉南郡岬町
                  %li.collection-item 阪南市
                  %li.collection-item 泉南市
                  %li.collection-item 泉佐野市
            %tr
              %td 内容
              %td
                %ul.collection
                  %li.collection-item ※汚れがひどい場合・ゴミの量がかなり多い場合はお片付けを施工してからになります。（別途お見積り致します）
                  %li.collection-item ※業務用90Lゴミ袋、仕分け込みになります。
                  %li.collection-item ※別途出張料1,000円～3,000円（税抜）が必要です。
                  %li.collection-item ※上記価格は、テレビ・エアコン・冷蔵庫（冷凍庫）・洗濯機・衣類乾燥機・産業廃棄物等の料金は含まれていません。
                  %li.collection-item ※業務用90Lごみ袋・簡易清掃込みの料金です。
                  %li.collection-item ※上記は参考料金です。
                  %li.collection-item 回収場所等、諸条件により料金が変わる場合がございます



= render "parts/maps"
= render "parts/footer"
