= render "parts/header"

%section.parallax-container
  .parallax
    = image_tag "top_img.png"


%section.section
  .container
    %h4.teal-text 突然のおわかれ・・・お困りではないでしょうか？

    %p 親族の方だけで遺品整理を行うことは、心身ともに労力を必要とすることと存じます。
    %ul.collection
      %li.collection-item 
        %i.mdi-hardware-keyboard-arrow-right.green-text
        諸々の事情でゆっくりと個人の荷物整理や不要品の片付けができない
      %li.collection-item 
        %i.mdi-hardware-keyboard-arrow-right.green-text
        大きな荷物が運び出せない
      %li.collection-item 
        %i.mdi-hardware-keyboard-arrow-right.green-text
        故人が遠方に住んでいたため、荷物整理をする時間がとれない
      %li.collection-item 
        %i.mdi-hardware-keyboard-arrow-right.green-text
        忙しくて遺品を整理をしている時間が取れない
      %li.collection-item 
        %i.mdi-hardware-keyboard-arrow-right.green-text
        故人の住んでいる地域のゴミ分別や処分の仕方がわからない
      %li.collection-item 
        %i.mdi-hardware-keyboard-arrow-right.green-text
        再利用できそうな物は買い取ってもらいたい
      %li.collection-item 
        %i.mdi-hardware-keyboard-arrow-right.green-text
        遺品の整理・清掃をまとめて頼みたい
    
    %p エースジャパンでは、お客さまの日程やご予算に合わせて、遺品整理が行えるよう、無料見積りを行っております。
    %p アパート、公団、マンション、一戸建て・・・お片付けのことならお任せ下さい。
    %p 状況に合わせてトラックや作業員をご用意、真心をこめてお手伝いいたします。
  
%section.section
  .container
    %h4.red-text 故人の大切な思い出をご遺族の方と相談の上、整理致します。
    %p
      生前ご愛用された家財は、小さなものであっても故人様の大切な思い出。
      %br/
      役目を果たした思い出の品々は粗末にはできません。
      %br/
      不要となる物、リユースできる物に関して、買取から処分まで一括処理を行っておりますので安心してお任せください。
      %br/
      ご遺族の立場に立ち、心を持って作業いたします。
      %br/
    
    %br/
    %h4.red-text ≪任せて安心５つのサービス≫
    %ul.collection
      %li.collection-item.avatar
        %i.mdi-image-looks-one.circle.green
        %span.title.teal-text エースジャパンが迅速対応
        %p ご相談頂いた当日でも、出来る限りお客様のご要望にお応え出来るよう頑張ります。
      %li.collection-item.avatar
        %i.mdi-image-looks-two.circle.green
        %span.title.teal-text お見積りから一切変更なし。業界最安値！
        %p 
          正式なお見積り提出後は追加料金は一切発生致しません。
          %br/
          遺品整理料金が、他社より高ければ即対応致しますので、スタッフまでお申し付けください
      %li.collection-item.avatar
        %i.mdi-image-looks-3.circle.green
        %span.title.teal-text お客様の負担を最小限に
        %p
          買取れる物は整理費用から減額致します。
          %br/
          遺品の中でご不要になった品が買取れるものは高価買取り致します。
      %li.collection-item.avatar
        %i.mdi-image-looks-4.circle.green
        %span.title.teal-text どんな状態でもお片付けお任せください。
        %p
          お部屋が全くの手つかずでも大丈夫です。
          %br/
          エースジャパンは「遺品整理士常勤」で安心！！
      %li.collection-item.avatar
        %i.mdi-image-looks-5.circle.green
        %span.title.teal-text お立会い不要 でも大丈夫です。
        %p 必要品と不要品を分別し、故人が愛用されていた思い出の品、貴重品等はご家族様へお返し致します。お客様の立場に立って作業致します。

%section.parallax-container
  .parallax
    = image_tag "basiccalc.jpg"

%section.section
  .container
    %h4 基本料金
    .row
      .col.s12.m6
        %table.bordered.striped
          %tr
            %td １Ｒ単身
            %td 40,000円（税抜）~
          %tr
            %td １ＤＫ
            %td 60,000円（税抜）~
          %tr
            %td １ＬＤＫ
            %td 90,000円（税抜）~
          %tr
            %td ２ＤＫ
            %td 120,000円（税抜）~
          %tr
            %td ２ＬＤＫ
            %td 150,000円（税抜）~
          %tr
            %td ３ＤＫ
            %td 180,000円（税抜）~
          %tr
            %td ３ＬＤＫ
            %td 210,000円（税抜）~
      .col.s12.m6
        %p.red-text ※当店の表示は税抜き価格となっております。別途消費税がかかります。
        %p ※一般廃棄処理業者等への支払代金は含まれております。
        %p ※一般的に生活されているよりも著しく荷物が多い場合、上記の価格設定が適用されない場合がございます。
        %p ※基本料金に含まれるもの、近隣ご挨拶・必要品と不要品の仕分け・ごみ袋・軽トラ代・作業終了時の簡易清掃。

    .row
      .col.s12
        %h5.green-text 【遺品整理の基本料金に含まれないもの】
        %p.red-text 家電製品はお問い合わせください。
        %table.bordered.striped
          %tr
            %td 形見品のご遺族へのお届け
            %td 3,000円～
          %tr
            %td 仏壇の供養、処分
            %td 現地お見積りにて
          %tr
            %td 産業廃棄物・養生作業は含まれていません。
            %td 現地お見積りにて
          %tr
            %td ピアノ・金庫・物置きなど、そのままでは搬出出来ないものがある場合
            %td 現地お見積りにて
          %tr
            %td 荷物量が通常よりも著しく多い場合
            %td 現地お見積りにて
          %tr
            %td 車両が回収する物品から離れた場所にしか横付け出来ない場合
            %td 現地お見積りにて
          %tr
            %td 事故現場（特殊な現場等）の場合は状況により追加料金が掛かる場合がございます
            %td 現地お見積りにて
        
        .right
          %p ※車両が現場に横付けできない場合も追加料金をご相談させて頂く場合がございます。
          %p.red-text ※当店の表示は税抜き価格となっております。別途消費税がかかります。






:css
  .parallax-container{
    /*height: 666px;*/
  }
= render "parts/maps"
= render "parts/footer"
